body {
    background-color: #ffffff;
    padding-bottom: 25px;
}


/*font*/

@font-face {
    font-family: 'fontda1c155ecfa68eed0dc092a417bf10f7';
    src: url('https://nomail.com.ua/files/eot/da1c155ecfa68eed0dc092a417bf10f7.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/da1c155ecfa68eed0dc092a417bf10f7.woff') format('woff'), url('https://nomail.com.ua/files/woff2/da1c155ecfa68eed0dc092a417bf10f7.woff2') format('woff2');
}

@font-face {
    font-family: 'CenturySchlbkCyrillicBT-Roman';
    src: local('CenturySchlbkCyrillicBT-Roman'), url('https://nomail.com.ua/files/woff/da1c155ecfa68eed0dc092a417bf10f7.woff') format('woff');
}

#centschbkcyrillbtroman {
    font-family: 'CenturySchlbkCyrillicBT-Roman';
}

.fontda1c155ecfa68eed0dc092a417bf10f7 {
    font-family: 'fontda1c155ecfa68eed0dc092a417bf10f7';
}

@font-face {
    font-family: 'font279b111196b5775e3876409d8ddfe8be';
    src: url('https://nomail.com.ua/files/eot/279b111196b5775e3876409d8ddfe8be.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/279b111196b5775e3876409d8ddfe8be.woff') format('woff'), url('https://nomail.com.ua/files/woff2/279b111196b5775e3876409d8ddfe8be.woff2') format('woff2');
}

@font-face {
    font-family: 'CenturySchlbkCyrillicBT-Bold';
    src: local('CenturySchlbkCyrillicBT-Bold'), url('https://nomail.com.ua/files/woff/279b111196b5775e3876409d8ddfe8be.woff') format('woff');
}

#centschbkcyrillbtbold {
    font-family: 'CenturySchlbkCyrillicBT-Bold';
}

.font279b111196b5775e3876409d8ddfe8be {
    font-family: 'font279b111196b5775e3876409d8ddfe8be';
}
/**/
.error {
    background-color: red;
}
.error + span {
    font-size: .5em;
}
/*--*/
.fs2em {
    font-size: 2.5em;
}
.bold {
    font-weight: bold;
}
.orange {
    color: #eb5017;
}

.mt5 {
    margin-top: 12px;
}
.right {
    text-align: right;
}

.org>div:first-child {
    text-transform: uppercase;
    font-weight: bolder;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

.plr10 {
    padding: 0 1em;
}

.ml20{
    margin-left: 20px;
}

nav ul,
footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #231f20;
    color: #fff;
    display: inline-block;
    width: 100%;
}

footer ul {
    background-color: #231f20;
}

nav ul li,
footer ul li {
    display: block;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 1em 2em;
    display: block;
    /*pointer-events: none;*/
}

footer ul li a {
    color: inherit;
}

footer ul li {
    padding: 1px 15px 30px 15px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

nav ul li a.active {
    background-color: #eb5017;
}

nav ul li>a {
    border-right: 1px #eb5017 solid;
}

nav ul li:last-child a {
    border-right: none;
}

nav.breadcrumbs ul {
    background: none;
    color: #000;
}

nav.breadcrumbs ul li>a {
    border: none;
    padding: 0 .6em 0 0;
}

nav.breadcrumbs ul li:not(:last-child)>a {
    text-decoration: underline;
}

nav.breadcrumbs ul li:last-child>a {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

nav.breadcrumbs ul li:not(:last-child)>a::after {
    content: '-';
    text-decoration: none;
    margin: 0 .1em;
    position: absolute;
}

a[href^=tel] {
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-family: "CenturySchlbkCyrillicBT-Bold";
    color: rgb(235, 80, 23);
    line-height: 1.111;
}

#tel {
    text-align: left;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

footer {
    position: fixed;
    bottom: 0;
    right: .4em;
    left: .4em;
}

.content {
    margin-top: 25px;
}


/*form*/

#calc {
    width: 652px;
    background-color: f2f2f2;
    padding: 1px 27px 27px 27px;
    font-family: Arial, Helvetica, sans-serif;
}

#calc input:not([type="radio"]),
#calc select {
    width: 100%;
}

/*radio*/
#calc [type="radio"] {
    margin-top:0;
}


#calc .row div:first-child {
    font-size: 0.8em;
    padding-left: 0;
}

#commit {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(195, 196, 196);
    border-radius: 7px;
    background-image: -ms-linear-gradient( 90deg, rgb(124, 196, 0) 0%, rgb(175, 243, 0) 100%);
    background-image: linear-gradient( 90deg, rgb(124, 196, 0) 0%, rgb(175, 243, 0) 100%);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.19);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.19);
    width: 98px;
    height: 31px;
}

#commit:focus {
    outline: none;
}

#commit:active {
    top: 1px;
}

#result label {
    font-size: .75em;
    color: rgb(57, 83, 6);
    font-weight: bold;
    line-height: 1.333;
}

#result span {
    font-size: .875em;
    font-family: "Arial";
    color: rgb(0, 0, 0);
    line-height: 1.429;
}


/*range*/

input[type=range]::after,
input[type=range]::before {
    position: absolute;
    color: #676767;
    font-size: .8em;
    top: 12px;
}

input[type=range]::before {
    content: "1 тыс. руб.";
    left: 0;
}

input[type=range]::after {
    content: "3 000 000";
    right: 0;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%!important;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    -webkit-animation: 0.2s;
            animation: 0.2s;
    -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d, inset 1px 1px 0px 1px #0d0d0d;
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d, inset 1px 1px 0px 1px #0d0d0d;
    background: #84aa31;
    border-radius: 5px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 1px;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #84aa31;
}

input[type=range]::fill, input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d, inset 1px 1px 0px 1px #0d0d0d;
    background: #84aa31;
    border-radius: 5px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #ffffff;
}

input[type=range]::-ms-track {
    border-width: 16px 0;
    width: 99%;
    height: 8.4px;
    animation: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d, inset 1px 1px 0px 1px #0d0d0d, 1px 1px 1px 3px white;
    background: black;
    border-radius: 5px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-fill-lower {
    background: #84aa31;
    box-shadow: inset 1px 1px 1px 1px black;
    
}

input[type=range]::-ms-fill-upper {
    background: black;
   
    
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    transform: translateY(0px);
}

input[type=range]:focus::-ms-fill-lower {
    background: #84aa31;
    box-shadow: inset 1px 1px 1px 1px black;
}

input[type=range]:focus::-ms-fill-upper {
    background: black;
}


.ptb0 {
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 920px) {
    nav ul li {
        display: block;
        width: 100%;
    }
    nav ul li>a {
        border-right: none;
    }
    [class*=col-] {
        width: 100%;
    }
    #calc {
        width: 100%;
    }
    .right {
        text-align: left;
    }
}

@media only screen and (min-width:1200px) {
    section {
        margin: 0 120px;
    }
}